<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionStr" value="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=wcs_sanyi;SslMode=none;Allow User Variables=True;Charset=utf8;" />
  </appSettings>
</configuration>